/* SQ1 CUSTOM CSS */


/* Vehicle Search Results */
.inventory-listing-default span.ui-button-text { font-size: 0; letter-spacing: 0; }
.inventory-listing-default span.ui-button-text:after { content: "Schedule Test Drive"; font-size: 18px; letter-spacing: 1.8px; }
.sq1-vsr .ui-dialog:not(.ui-draggable) span#ui-dialog-title-1, .sq1-vsr .inventory-lead-eprice h3 {	font-size: 0; }
.sq1-vsr .ui-dialog:not(.ui-draggable) span#ui-dialog-title-1:after, .sq1-vsr .inventory-lead-eprice h3:after { content: "Schedule a Test Drive"; font-size: 18px; }

/* Vehicle Details */
.inventory-detail-packages-options .option-table {background: #ffffff;}
.inventory-detail-packages-options .option-table tr {display: inline-block; width: 33.333%;}
.ddc-content.comments-listing {display: none;}
.inventory-detail-pricing .ePrice .ddc-btn-default { font-size: 0 !important; letter-spacing: 0 !important; }
.inventory-detail-pricing .ePrice .ddc-btn-default:after { content: "Schedule Test Drive"; font-size: 18px; letter-spacing: 1.8px; }
.sq1-vdp span#ui-dialog-title-2, .sq1-vdp .inventory-lead-eprice h3 {	font-size: 0; }
.sq1-vdp span#ui-dialog-title-2:after, .sq1-vdp .inventory-lead-eprice h3:after { content: "Schedule a Test Drive"; font-size: 18px; }

/* ALL PAGES ***********************************/

/* Site Header and Nav */
.ddc-header .header-default .vcard .tels { font-size: 22px;}
.ddc-navbar.ddc-navbar-default .ddc-mega-menu-nav .ddc-btn.ddc-btn-primary { background: #898888 }

/*Mobile Service Scheduler Call Button*/
@media (min-width: 500px){
  .sq1-service-call-button { display:none; }
}

/* Google map image above footer */
#map-canvas { background: url('https://pictures.dealer.com/b/beavertonhyundai/1249/10eb2ba348e817cbd3cd79a6a1c56ee1x.jpg') center center; width: 100%; height: 350px; }

@media (min-width: 1736px) { 
	#map-canvas { background-size: cover; }
}

/* HOME PAGE ***********************************/

/* Hide article header */
.ddc-content.content-default .h1.ddc-heading-1 span:first-child { display: none; }

/* Quick action bar */
.sq1-quick-action {	background: #ffffff; text-align: center;	padding: 25px 0; font-size: 0; }
.sq1-quick-action a {	text-decoration: none; width: 28%; height: 40px; display: inline-block; font-size: 14px; }
.sq1-quick-action .middle {	margin: 0 8%; }
.mod.content-raw + .tabs-tabbed-widgets-extension-1 .tabs-tabbed-widgets-container { display: none; }


/* INVENTORY SEARCH PAGES **********************/

/* Hides mileage li items */
.ddc-list-unstyled.ddc-nav-stacked.facetlist-odometer.facet-type-ranged li:nth-child(n+2):nth-child(-n+7), .ddc-list-unstyled.ddc-nav-stacked.facetlist-odometer.facet-type-ranged li:last-child { display: none; }

/* Removes bottom border of last filter list item */
.facetmulti-form fieldset:nth-last-child(3) .facetlist { border: none; }


/* ABOUT PAGE *********************************/

/* Hides google-map widget */
.ddc-span4 .google-map { display: none; }


/* DIRECTIONS PAGE *****************************/

/* Hides footer map image */
.directions #map-canvas { display: none; }
